:root{
    --dark-main: #1f1b23;
    --dark-grey: #131313;
    --link: #a358ff;
    --link-visited: #b58de8;
    --text-color: #fefefe;
}
body, html{
    margin: 0;
    background-color: var(--dark-grey);
    color: var(--text-color);
}
a:visited{
    color: var(--link-visited);
}
a:link{
    color: var(--link);
}
main{
    width: 75vw;
    padding-top: 100px;
    margin: 0 auto;
}
.options-grid{
    font-size: 1.25em;
    margin: 15px 0;
}
.select-container{
    display: flex;
    flex-wrap: wrap;
}
.select-container div{
    flex-grow: 1;
    flex-basis: 200px;
}
.btn-container{
    width: 25%;
    padding: 20px 0 10px 0;
}
.btn-container div{
    display: flex;
    justify-content: space-between;
}
.btn-container button{
    width: fit-content;
}
#decode-encode-text{
    width: calc(100% - 8px);
    height: 100px;
}
.output-text{
    width: calc(100% - 8px);
    height: 100px;
}
textarea{
    background-color: var(--dark-main);
    color: var(--text-color);
    border: 1px solid #232323;
    border-radius: 6px;
    resize: none;
    padding: 4px;
}
textarea:focus{
    outline: none;
}
h1{
    margin-bottom: 0;
}
.description{
    margin: 25px 0;
    font-size: 1.1em;
}